.navbar {
    background-color: rgb(50, 50, 50);
    overflow: hidden;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

.nav-item {
    margin: 0;
}

.nav-link {
    display: block;
    color: antiquewhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-link:visited {
    color: antiquewhite;
}

.nav-link:hover {
    background-color: antiquewhite;
    color: black;
}